h1{
    color: black;
    font-family: arial;
    font-size: 55px;
    font-weight: bold; /*negrito*/
    text-align: justify;
    padding: 35px 0px 20px 25px; /*top right bottom left*/
}

h2{
    color: black;
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
    padding: 60px 40px 0px 50px; /*top right bottom left*/

}

p{
    text-indent: 4em; /*recuo no inicio do pagrafo*/
    text-align: justify;
    color: black;
    font-size: 1.2vw;
    padding: 10px 40px 40px 50px; /*top right bottom left*/
}

.container{
    display: flex;
    width: 90%; 
    padding: 60px 20px 10px 20px; /*top right bottom left*/  
    justify-content: space-around; 
    align-items: center;
}

.imagem-container{ 
    width: 25vw; 
    align-self: center;
    padding: 0px 0px 40px 0px; /*top right bottom left*/   
}

.texto-container{
    height: 25vw;
    text-align: left;
    align-self: center;
    font-weight: bold;
    color: #ffffff;
    font-family: arial;
    padding: 0px 0px 45px 0px; /*top right bottom left*/
}