#cabecalho{
    width: 100%;
    height: 152px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0px 200px 0px 190px; /*top right bottom left*/
}

#navbarNavAltMarkup{
    font-size: 22px;
    font-weight: bold; 
    padding: 25px 50px 20px 50px; /*top right bottom left*/
}

.BAIXE-AGORA {
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 62px;
    background-color: #d37709;  
    color: #FFFFFF;    
    font-size: 25px;
    margin-left: 140px;
}

.desktop{
    border-radius: 62px; padding: 0px 50px 10px 50px;
}

.imagem{
    width: 400px;
}

@media only screen and (max-width: 959px) {
    .desktop{
        border-radius: 62px; padding: 0px;
    }

    .imagem{
        width: 200px;
    }

    #cabecalho{
        width: 100%;
        height: 152px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
        padding: 0px; /*top right bottom left*/
    }

    .BAIXE-AGORA {
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 62px;
        background-color: #d37709;  
        color: #FFFFFF;    
        font-size: 25px;
        margin-left: 0px;
    }

}
