/*corpo*/
h2{
    color: black;
    font-family: arial;
    font-size: 48px;
    font-weight: bold; /*negrito*/
    text-align: center;
    padding: 50px 0px 20px 0px; /*top right bottom left*/
}

p{
    text-indent: 4em; /*recuo no inicio do pagrafo*/
    text-align: justify;
    color: black;
    font-family: arial;
    font-size: 20px;
    padding: 25px 50px 0px 50px; /*top right bottom left*/
    margin-bottom: 0;
}

li{
    text-indent: 4em; /*recuo no inicio do pagrafo*/
    text-align: justify;
    color: black;
    font-family: arial;
    font-size: 20px;
    padding: 25px 50px 0px 10px; /*top right bottom left*/
    margin-bottom: 0;
}

h3{
    padding-left: 50px;
    padding-top: 20px;
}

h4{
    padding-left: 50px;
    padding-top: 20px;
}

.centralizar{
    padding: 70px 110px 0px 110px;
}

/*cabeça*/
.card-header{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
}


.card-body{
    padding-top: 40px;
}

h1{
    color: black;
    font-family: sans-serif;
    font-size: 2.9rem;
    font-weight: bold; /*negrito*/
    margin-top: -12rem;
    position: relative;
    padding-left: 75px;
    padding-right: 75px;
    text-align: justify;
}

/*propaganda*/
label{
    padding: 0px 0px 20px 0px; /*top right bottom left*/
}

.banner{
    display: flex;
    height: 30vw;   
    padding: 0px 20px 0px 20px; /*top right bottom left*/  
    justify-content: space-around; 
    align-items: center;
}

.imagem-banner{    
    height: 31vw;
    align-self: flex-end; 
    justify-content: space-around;
    padding: 20px 20px 20px 30px; /*top right bottom left*/
}

.texto-banner{
    text-align: left;
    align-self: flex-end;
    height: 19vw; /*altura*/
    padding: 10px 0px 10px 15px; /*top right bottom left*/
    flex: 2 2 18vw;
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-family: arial;
}

.texto-caixa{
    padding-top: 30px;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 20px;
}
.texto-caixa-2{
    padding-top: 30px;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
}

#texto{
    width: 320px;
    height: 47px;
    border-radius: 26px;
    border: solid 3px #707070;
    background-color: #ffffff;
}

.BAIXE-banner {
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 62px;
    background-color: #d37709;  
    color: #FFFFFF;    
    font-size: 2vw;
    margin-bottom: 10px;
}

.laranja{
    border-radius: 35px;
    background-color: #d37709;
    color: #ffffff;
    padding: 5px 40px 5px 40px;
    font-size: 1.7rem;
}

.imagem{
    width: 400px;
}

.e-book{
    padding-left: 150px; margin-top: -100px; height: 400px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    padding: 10px 20px 10px 20px; /*top right bottom left*/  
    justify-content: space-around; 
    align-items: center;
}

.imagem-container{ 
    width: 600px; 
    align-self: center;
}

.dados-container{
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    font-family: arial;
    padding: 40px 0px 45px 0px; /*top right bottom left*/
}

@media only screen and (max-width: 959px) {
    h1{
        font-size: 1.1rem;
        margin-top: -80px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2{
        font-size: 1rem;
        color: black;
        font-family: arial;
        font-weight: bold; /*negrito*/
        text-align: center;
        padding: 20px 0px 5px 0px; /*top right bottom left*/
    }

    p{
        font-size: .9rem;
        text-indent: 2em; /*recuo no inicio do pagrafo*/
        text-align: justify;
        color: black;
        font-family: arial;
        margin-bottom: 0;
        padding: 10px 10px 0px 10px; /*top right bottom left*/
    }

    li{
        text-indent: 4em; /*recuo no inicio do pagrafo*/
        text-align: justify;
        color: black;
        font-family: arial;
        font-size: .9rem;
        padding: 10px 15px 0px 5px; /*top right bottom left*/
        margin-bottom: 0;
    }

    h3{
        font-weight: 700;
        text-indent: 2em; /*recuo no inicio do pagrafo*/
        font-size: .9rem;
        padding: 10px 5px 0px 5px; /*top right bottom left*/
        margin-bottom: 3px;
    }

    h4{
        font-weight: 700;
        font-size: .9rem;
        padding-left: 50px;
        padding-top: 20px;
    }

    .imagem{
        width: 200px;
    }

    .e-book{
        height: 400px;
        padding-left: 0; margin-top: -100px;
    }

    .texto-caixa{
        font-size: 1.5rem;
        color: #ffffff;
        padding-left: 10px;
    }

    .laranja{
        border-radius: 35px;
        background-color: #d37709;
        color: #ffffff;
        padding: 5px 40px 5px 40px;
        font-size: 1.5rem;
    }

    .centralizar{
        padding: 0px;
    }
}
