h1{
    color: black;
    font-family: arial;
    font-size: 48px;
    font-weight: bold; /*negrito*/
    text-align: center;
    padding: 30px 0px 20px 0px; /*top right bottom left*/
}

p{
    text-indent: 4em; /*recuo no inicio do pagrafo*/
    text-align: justify;
    color: black;
    font-family: arial;
    font-size: 22px;
}

.card-body{
    padding-left: 100px;
    padding-right: 100px;
}

/*cadastro*/
label{
    width: 321px;
    height: 29px;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    padding: 10px 20px 10px 20px; /*top right bottom left*/  
    justify-content: space-around; 
    align-items: center;
}

.imagem-container{ 
    width: 300px; 
    align-self: center;
    padding: 0px 0px 40px 0px; /*top right bottom left*/   
}

.dados-container{
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    font-family: arial;
    padding: 0px 0px 45px 0px; /*top right bottom left*/
}

.botao{
    width: 290px;
    margin: 0 auto;
    justify-content: center;

}

.download {
    width: 290px;
    height: 55px;
    border-radius: 35px;
    background-color: #d37709;
    font-size: 25px;
    text-align: center;
    color: #ffffff; 
}

#texto{
    width: 320px;
    height: 47px;
    border-radius: 26px;
    border: solid 3px #707070;
    background-color: #ffffff;
}

#mensagem{
    width: 320px;
    height: 170px;
    border-radius: 37px;
    border: solid 3px #707070;
    background-color: #ffffff;
}

.laranja{
    border-radius: 35px;
    background-color: #d37709;
    color: #ffffff;
    padding: 5px 40px 5px 40px;
    font-size: 1.7rem;
}

@media only screen and (max-width: 959px) {
    .card-body{
        padding-left: 10px;
        padding-right: 10px;
    }

    h1{
        font-size: 1rem;
        margin-top: -20px;
    }

    h2{
        font-size: .8rem;
        color: black;
        font-family: arial;
        font-weight: bold; /*negrito*/
        text-align: center;
        padding: 20px 0px 5px 0px; /*top right bottom left*/
    }

    p{
        font-size: .8rem;
        text-indent: 4em; /*recuo no inicio do pagrafo*/
        text-align: justify;
        color: black;
        font-family: arial;
        margin-bottom: 0;
        padding: 10px 10px 0px 10px; /*top right bottom left*/
    }

    h3{
        font-weight: 700;
        text-indent: 4em; /*recuo no inicio do pagrafo*/
        font-size: .7rem;
        padding: 10px 5px 0px 5px; /*top right bottom left*/
        margin-bottom: 3px;
    }

    .imagem{
        width: 200px;
    }
}