.titulo-card-inferior{
    height: 31px;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.card-text-inferior{
    height: 152px;
    font-family: arial;
    font-size: 16px;
    text-align: justify;
    color: #000000;
    padding: 30px 10px 10px 10px; 
}

.card-box {
    display: flex; 
    flex-wrap: wrap; 
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.card-new {
    border-radius: 3px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 300px; 
    padding: 0px 20px 0px 20px; 
    background-color: #FFFFFF;
    width: 100%;
} 

#card-new-inferior{
    border-radius: 3px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    padding: 0px 20px 0px 20px; 
    width: 100%;
    overflow: hidden;
    height: 450px; 
    object-fit: contain;
}

.conte{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #03627c;
}

.submit{
    margin-top: 20px;
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-transform: uppercase;
}

.BAIXE-AGORA {
    cursor: pointer;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 62px;
    background-color: #d37709;  
    color: #FFFFFF;    
}

.texto{
    line-height: 1;
    font-size: 2rem;
}

.card-img{
    width: 821px;
    height: 553px;
    background-color: #d50f0f;
}

/*propaganda*/
label{
    padding: 0px 0px 20px 0px; /*top right bottom left*/
}

.banner{
    display: flex;
    height: 30vw;   
    padding: 0px 20px 0px 20px; /*top right bottom left*/  
    justify-content: space-around; 
    align-items: center;
}

.imagem-banner{    
    height: 31vw;
    align-self: flex-end; 
    justify-content: space-around;
    padding: 20px 20px 20px 30px; /*top right bottom left*/
}

.texto-banner{
    text-align: left;
    align-self: flex-end;
    height: 19vw; /*altura*/
    padding: 10px 0px 10px 15px; /*top right bottom left*/
    flex: 2 2 18vw;
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-family: arial;
}

.texto-caixa{
    padding-top: 30px;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 20px;
}

#texto{
    width: 320px;
    height: 47px;
    border-radius: 26px;
    border: solid 3px #707070;
    background-color: #ffffff;
}

.BAIXE-banner {
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 62px;
    background-color: #d37709;  
    color: #FFFFFF;    
    font-size: 2vw;
    margin-bottom: 10px;
}

.laranja{
    border-radius: 35px;
    background-color: #d37709;
    color: #ffffff;
    padding: 5px 40px 5px 40px;
    font-size: 1.7rem;
}

.e-book{
    padding-left: 150px; margin-top: -100px; height: 400px;
}

/*descricao*/
.centralizar{
    padding: 70px 140px 0px 140px;
}

h2{
    font-weight: 45px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 959px) {
    .centralizar{
        padding: 10px;
    }

    .conte{
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        color: #03627c;
    }

    #cabecalho {
        width: 100%;
        height: 152px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    }

    h1{
        font-size: 1rem;
    }

    h2{
        font-size: 1.2rem;
        color: black;
        font-family: arial;
        font-weight: bold; /*negrito*/
        text-align: center;
        padding: 20px 0px 5px 0px; /*top right bottom left*/
    }

    p{
        font-size: .8rem;
        text-indent: 4em; /*recuo no inicio do pagrafo*/
        text-align: justify;
        color: black;
        font-family: arial;
        margin-bottom: 0;
        padding: 10px 10px 0px 10px; /*top right bottom left*/
    }

    h3{
        font-weight: 700;
        text-indent: 4em; /*recuo no inicio do pagrafo*/
        font-size: .9rem;
        padding: 10px 5px 0px 5px; /*top right bottom left*/
        margin-bottom: 3px;
    }

    .imagem{
        width: 200px;
    }

    .e-book{
        height: 400px;
        padding-left: 0; margin-top: -100px;
    }

    .texto-caixa{
        font-size: 1.5rem;
        color: #ffffff;
        padding-left: 10px;
    }

    .laranja{
        border-radius: 35px;
        background-color: #d37709;
        color: #ffffff;
        padding: 5px 40px 5px 40px;
        font-size: 1.5rem;
    }

    .titulo-card-inferior{
        height: 31px;
        font-family: arial;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #000000;
    }

    .card-text-inferior{
        text-indent: 0em; /*recuo no inicio do pagrafo*/
        height: 152px;
        font-family: arial;
        font-size: 14px;
        text-align: justify;
        color: #000000;
        padding: 30px 10px 10px 10px; 
    }

    .texto{
        font-size: 1rem;
    }
}
